

header{
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
}

.header-top{
    display: flex;
    background: #000;
    justify-content: flex-end;
    padding: 7px;
}

.header-top .sony-logo{
    max-width: 80px;
}

.header-bottom{
    padding-right: 7px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}


.hedaer-bottom-right{
    display: flex;
    align-items: center;
    
}

.hamburger-menu{
    width: 40px;
    height: 35px;
    background: none;
    padding: 5px;
}

.accedi{
    margin:0 20px 0 10px;
}

.search{
    padding: 10px;
}

.border-radius{
    border-radius: 20px;
}

.banner-img{
    position: relative;
    min-height: 620px;
}

.hero > .banner-img{
    background: url("../img/jumbo-bg.png");
    background-position: center;  
    background-size: cover;

}

.navbar{
    padding: 0;
}

main{
    padding-top:90px;
}

.hero{
    margin-bottom: 100px;
    border:1px solid red;
    overflow-x: hidden;
}

.img-content .returnal-logo{
    width: 50%;
    height: auto;

}

.img-content{
    position: absolute;
    bottom:0;
    left:0;
    color:white;
    margin-bottom: 30px;
}

.img-content > *{
    margin-top:30px;
}



.img-thumbnail{
    border:0;
    border-radius: 20px;
}


/* PS5 SECTION */
/* PS5 FIRST SECTION*/
.ps5-section{
    margin-bottom:25px;
}

.desc-ps5{
    text-align: center;
    margin-bottom: 50px;
}

.desc-ps5 p:first-child{
    color:rgb(2, 65, 255);
    font-weight: 500;
    margin-bottom: 0;
}

.console-ps5 button{
    margin-top:15px;
}


/* PS5 SECOND SECTION */
img.ps5-image{
    width: 100%;
}

.carousel img{
    width: 100%;
}

.carousel div:first-child img{
    border-bottom: 2px solid #57a2df;
}


/* IT TAKES TWO SECTION */


.it-takes-two > .banner-img{
    background: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;  
    background-size: cover;
}

.img-content .it-takes-two-logo{
    width: 50%;    
    height: auto;
}

.it-takes-two h1{
    margin-bottom: 30px;
}

/* NEW RELEASE SECTION */
.new-games{
    background-color: #0b1009;
    color:white;
    padding-top: 10px;
    padding-bottom: 30px;
}

.new-games img{
    width: 100%;
}

.new-games sup{
    font-size: 10px;
}
